<div class="confirmacion">
    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <ion-img src="assets/jose.jpg"></ion-img>
            </ion-avatar>
        </ion-card-header>
        <ion-card-content>
            <div class="ida">
                <p>Vuelo de Ida</p>
            </div>
           <div class="regreso">
            <p>Vuelo de Regreso</p>
            
           </div>
           <div class="vuelo">
            <p>Vuelo:</p>
            <p>CA1712</p>
           </div>
           <div class="asiento">
            <p>Asiento:</p>
            <p>B13</p>
           </div>
        </ion-card-content>
    </ion-card>
</div>