<ion-searchbar></ion-searchbar>

<div>
    <div>
        <ion-card class="resultados">
           <ion-grid>
            <ion-row>
                <ion-col size="4" class="destino-abreviado">NYC</ion-col>
                <ion-col class="destino-ciudad-aeroperto">
                    <ion-text>Nueva York</ion-text>
                    <ion-text>John F. Kennedy Airport</ion-text> <!--Nombre de Aeropuerto-->
                </ion-col>
            </ion-row>
           </ion-grid>
        </ion-card>
    </div>
</div>