<div class="confirmacion">
    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <ion-img src="assets/jose.jpg"></ion-img>
            </ion-avatar>
        </ion-card-header>
        <ion-card-content>

            <div class="nombre">
                <p>Jose Castro Jimenez</p>
            </div>
            <div class="email">
                <p>jos@gmail.com</p>

            </div>
            <div class="cantidad">
                <p>Numero de vuelos recorridos:</p>
                <p>13</p>
            </div>
            <div class="documentacion">
                <p>pasaporte:</p>
                <p>aprobado</p>
                <p>visa:</p>
                <p>aprobado</p>
            </div>
            <ion-button>editar</ion-button>
        </ion-card-content>
    </ion-card>
</div>