<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Contoso Airlines</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Tu app de viajes aqui</h1>


    <div>
      <h2>---Elementos---</h2>
      <ion-button>Boton</ion-button>
      <ion-card>
        <ion-card-header>Encabezado tarjeta</ion-card-header>
        <ion-card-content>Contenido tarjeta</ion-card-content>

        <ion-button class="ida">
          <ion-icon name="airplane"></ion-icon>
        </ion-button>
        <ion-button class="vuelta">
          <ion-icon name="airplane"></ion-icon>
        </ion-button>
      </ion-card>
    </div>
  </ion-content>
</ion-app>