<ion-grid>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <ion-row>
        <ion-col size="12" size-md="10">
            <ion-card>
                <ion-card-header>
                    <div class="confirmacion">

                        <ion-img src="assets/imagenes/viaje1.jpg"></ion-img>
                        <p>
                            CIUDAD DE MEXICO
                        </p>
                        <p>PRECIO:5,500 POR PERSONA
                        </p>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <ion-button size="12" href="http://localhost:4200/#/carrito ">COMPRAR
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size=" 12 " size-md="10 ">
            <ion-card>
                <ion-card-header>
                    <ion-img src="assets/imagenes/viaje2.jpg "></ion-img>
                    <p>
                        TOLUCA
                    </p>
                    <p>PRECIO:4,300 POR PERSONA</p>
                </ion-card-header>
                <ion-card-content>
                    <ion-button size="12 " href="http://localhost:4200/#/carrito ">COMPRAR
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12 " size-md="10 ">
            <ion-card>
                <ion-card-header>
                    <ion-img src="assets/imagenes/viaje3.jpg "></ion-img>
                    <p>
                        ACAPULCO
                    </p>
                    <p>PRECIO:8,700 POR PERSONA</p>
                </ion-card-header>
                <ion-card-content>
                    <ion-button size="12 " href="http://localhost:4200/#/carrito ">COMPRAR
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12 " size-md="10 ">
            <ion-card>
                <ion-card-header>
                    <ion-img src="assets/imagenes/viaje4.jpg "></ion-img>
                    <p>
                        CANCUN
                    </p>
                    <p>PRECIO:7,000 POR PERSONA</p>
                </ion-card-header>
                <ion-card-content>

                    <ion-button size="12 " href="http://localhost:4200/#/carrito ">COMPRAR
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12 " size-md="10 ">
            <ion-card>
                <ion-card-header>
                    <ion-img src="assets/imagenes/viaje5.jpg "></ion-img>
                    <p>
                        VERACRUZ
                    </p>
                    <p>PRECIO:3,900 POR PERSONA</p>
                </ion-card-header>
                <ion-card-content>
                    <ion-button size="12 " href="http://localhost:4200/#/carrito ">COMPRAR
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>